*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f8f8; 
    margin: 0;
    padding: 0;
  }
  
  header, nav, main, footer {
    margin: 0;
    padding: 20px;
  }
  
  header {
    background-color: #eaeaea; 
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  nav li {
    padding: 10px 0;
  }
  
  nav a {
    text-decoration: none;
    color: #333; 
  }
  .call-to-action {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .current-events {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .weather-card {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .company-spotlights {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  footer {
    background-color: #eaeaea;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    width: 100px;
    height: 150px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: normal;
  }

  a {
    text-decoration: none;
    color: #0000EE;
  }

  .dark-mode-toggle {
    margin-left: 20px;
  }

  .dark-mode {
    background-color: #333;
    color: #f8f8f8;
  }
  
  .hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 2em;
  }
  
  #navigation {
    display: none;
  }
  
  .show-nav {
    display: block;
  }
header {
    display: flex;
    align-items: center;
}

header img {
    margin-right: 10px;
}

.hero-image {
  background: url(chamber/images/hero-image.webp);
  background-size: auto 110vh;
  background-position: top;
}
